<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"6rem","bottom":"6rem"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:6rem;padding-bottom:6rem">
	<!-- wp:post-title {"align":"wide","level":1} /-->
	<!-- wp:post-content {"align":"wide","layout":{"type":"constrained"}} /-->
	
	<!-- wp:paragraph -->
	<p>Contact us for more information about our WordPress services.</p>
	<!-- /wp:paragraph -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

