<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"6rem","bottom":"6rem"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:6rem;padding-bottom:6rem">
	<!-- wp:post-title {"align":"wide","level":1} /-->
	<!-- wp:post-content {"align":"wide","layout":{"type":"constrained"}} /-->

	<!-- wp:paragraph {"align":"center","style":{"color":{"text":"var:preset|color|foreground-light"}}} -->
	<p class="has-text-align-center has-foreground-light-color has-text-color">Case studies coming soon.</p>
	<!-- /wp:paragraph -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->